@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .showNav:hover nav {
    transform: translateX(100%) translateY(0);
    filter: blur(0);
    opacity: 1;
    transition: transform 400ms ease-in-out, filter 400ms ease-in-out, opacity 100ms ease-in-out;
  }
}